In [37]:
%matplotlib inline
from pathlib import Path
import numpy as np

In [38]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression

In [39]:
import pandas as pd

In [40]:
housing_df=pd.read_csv('C:\\Users\\Azamat\\Documents\\data_mining_for_BA\\datasets\\WestRoxbury.csv')

In [41]:
housing_df.shape

(5802, 14)

In [42]:
housing_df.info

<bound method DataFrame.info of       TOTAL VALUE    TAX  LOT SQFT   YR BUILT  GROSS AREA   LIVING AREA  \
0            344.2  4330       9965      1880         2436         1352
1            412.6  5190       6590      1945         3108         1976
2            330.1  4152       7500      1890         2294         1371
3            498.6  6272      13773      1957         5032         2608
4            331.5  4170       5000      1910         2370         1438
...            ...   ...        ...       ...          ...          ...
5797         404.8  5092       6762      1938         2594         1714
5798         407.9  5131       9408      1950         2414         1333
5799         406.5  5113       7198      1987         2480         1674
5800         308.7  3883       6890      1946         2000         1000
5801         447.6  5630       7406      1950         2510         1600

      FLOORS   ROOMS  BEDROOMS   FULL BATH  HALF BATH  KITCHEN  FIREPLACE  \
0         2.0      6          3          1          1        1          0
1         2.0     10          4          2          1        1          0
2         2.0      8          4          1          1        1          0
3         1.0      9          5          1          1        1          1
4         2.0      7          3          2          0        1          0
...       ...    ...        ...        ...        ...      ...        ...
5797      2.0      9          3          2          1        1          1
5798      2.0      6          3          1          1        1          1
5799      2.0      7          3          1          1        1          1
5800      1.0      5          2          1          0        1          0
5801      2.0      7          3          1          1        1          1

     REMODEL
0       None
1     Recent
2       None
3       None
4       None
...      ...
5797  Recent
5798    None
5799    None
5800    None
5801    None

[5802 rows x 14 columns]>

In [43]:
housing_df.head()

,TOTAL VALUE,TAX,LOT SQFT,YR BUILT,GROSS AREA,LIVING AREA,FLOORS,ROOMS,BEDROOMS,FULL BATH,HALF BATH,KITCHEN,FIREPLACE,REMODEL
0,344.2,4330,9965,1880,2436,1352,2.0,6,3,1,1,1,0,None
1,412.6,5190,6590,1945,3108,1976,2.0,10,4,2,1,1,0,Recent
2,330.1,4152,7500,1890,2294,1371,2.0,8,4,1,1,1,0,None
3,498.6,6272,13773,1957,5032,2608,1.0,9,5,1,1,1,1,None
4,331.5,4170,5000,1910,2370,1438,2.0,7,3,2,0,1,0,None

In [44]:
print(housing_df)

      TOTAL VALUE    TAX  LOT SQFT   YR BUILT  GROSS AREA   LIVING AREA  \
0            344.2  4330       9965      1880         2436         1352
1            412.6  5190       6590      1945         3108         1976
2            330.1  4152       7500      1890         2294         1371
3            498.6  6272      13773      1957         5032         2608
4            331.5  4170       5000      1910         2370         1438
...            ...   ...        ...       ...          ...          ...
5797         404.8  5092       6762      1938         2594         1714
5798         407.9  5131       9408      1950         2414         1333
5799         406.5  5113       7198      1987         2480         1674
5800         308.7  3883       6890      1946         2000         1000
5801         447.6  5630       7406      1950         2510         1600

      FLOORS   ROOMS  BEDROOMS   FULL BATH  HALF BATH  KITCHEN  FIREPLACE  \
0         2.0      6          3          1          1        1          0
1         2.0     10          4          2          1        1          0
2         2.0      8          4          1          1        1          0
3         1.0      9          5          1          1        1          1
4         2.0      7          3          2          0        1          0
...       ...    ...        ...        ...        ...      ...        ...
5797      2.0      9          3          2          1        1          1
5798      2.0      6          3          1          1        1          1
5799      2.0      7          3          1          1        1          1
5800      1.0      5          2          1          0        1          0
5801      2.0      7          3          1          1        1          1

     REMODEL
0       None
1     Recent
2       None
3       None
4       None
...      ...
5797  Recent
5798    None
5799    None
5800    None
5801    None

[5802 rows x 14 columns]

In [45]:
housing_df.columns

Index(['TOTAL VALUE ', 'TAX', 'LOT SQFT ', 'YR BUILT', 'GROSS AREA ',
       'LIVING AREA', 'FLOORS ', 'ROOMS', 'BEDROOMS ', 'FULL BATH',
       'HALF BATH', 'KITCHEN', 'FIREPLACE', 'REMODEL'],
      dtype='object')

In [46]:
housing_df=housing_df.rename(columns={'TOTAL VALUE ': 'TOTAL_VALUE'}) #explicit

In [47]:
housing_df.columns=[s.strip().replace(' ', '_') for s in housing_df.columns]

In [48]:
housing_df.columns

Index(['TOTAL_VALUE', 'TAX', 'LOT_SQFT', 'YR_BUILT', 'GROSS_AREA',
       'LIVING_AREA', 'FLOORS', 'ROOMS', 'BEDROOMS', 'FULL_BATH', 'HALF_BATH',
       'KITCHEN', 'FIREPLACE', 'REMODEL'],
      dtype='object')

In [49]:
housing_df.loc[0:3]

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE,REMODEL
0,344.2,4330,9965,1880,2436,1352,2.0,6,3,1,1,1,0,None
1,412.6,5190,6590,1945,3108,1976,2.0,10,4,2,1,1,0,Recent
2,330.1,4152,7500,1890,2294,1371,2.0,8,4,1,1,1,0,None
3,498.6,6272,13773,1957,5032,2608,1.0,9,5,1,1,1,1,None

In [50]:
housing_df.iloc[0:4]

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE,REMODEL
0,344.2,4330,9965,1880,2436,1352,2.0,6,3,1,1,1,0,None
1,412.6,5190,6590,1945,3108,1976,2.0,10,4,2,1,1,0,Recent
2,330.1,4152,7500,1890,2294,1371,2.0,8,4,1,1,1,0,None
3,498.6,6272,13773,1957,5032,2608,1.0,9,5,1,1,1,1,None